In [1]:
# Importing packages
import pandas as pd
import numpy as np

df = pd.DataFrame({'animal': 'cat dog cat fish dog cat cat'.split(), 
                   'size': list('SSMMMLL'),
                   'weight': [8, 10, 11, 1, 20, 12, 12],
                   'adult': [False] * 5 + [True] * 2})
df.loc[df.index[3], 'A'] = np.nan

In [2]:
df

  animal size  weight  adult   A
0    cat    S       8  False NaN
1    dog    S      10  False NaN
2    cat    M      11  False NaN
3   fish    M       1  False NaN
4    dog    M      20  False NaN
5    cat    L      12   True NaN
6    cat    L      12   True NaN

In [3]:
# List the size of the animals with the highest weight.
df.groupby('animal').apply(lambda subf: subf['size'][subf['weight'].idxmax()])

animal
cat     L
dog     M
fish    M
dtype: object

In [4]:
import pandas as pd

# Use 3 decimal places in output display
pd.set_option("display.precision", 3)

# Don't wrap repr(DataFrame) across additional lines
pd.set_option("display.expand_frame_repr", False)

# Set max rows displayed in output to 25
pd.set_option("display.max_rows", 25)