<h1 style="color:black" align="center">Data Exploration: Sample SuperStore Dataset</h1>

![grf-bg.jpg](attachment:grf-bg.jpg)

Given the second part of this Jupyter notebook tutorial, we will try to clean-up the data from invalid values and try to recreate from the previous orginal dataset to something more valueable and informative to our business needs.

### Importing the required libraries into the notebook.

In [1]:
# Importing packages
import pandas as pd

### Let's try to read the CSV record 

The following code would imply these instructions

- *df_cleaning* = is the name of the variable, that will be using throughout the example of this tutorial.
- *pd* = stands for Panda
- *.read_csv* = is a method within to read the CSV file.
- *index_col*='OrderID'

In [2]:
# Let's try to read from the new order dataset
df_cleaning = pd.read_csv('df_orders.csv')

In [3]:
# See the total rows and columns number
df_cleaning.shape

(10800, 21)

In [4]:
# Set the total rows and columns default numbers.
pd.set_option('display.max_columns', 21)
pd.set_option('display.max_rows', 5)

In [5]:
# Let's check the head dataset values.
df_cleaning.head()

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,State,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164

In [23]:
# Let's check the tail dataset values.
df_cleaning.tail()

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,...,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit,Revenue,NetPrice
9989,9990,CA-2015-110422,2015-01-21,2015-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3.0,0.2,4.1028,21.1452,4.54464
9990,9991,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2.0,0.0,15.6332,76.3268,30.34680
9991,9992,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2.0,0.2,19.3932,239.1828,87.91584
9992,9993,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4.0,0.0,13.3200,16.2800,0.74000
9993,9994,CA-2018-119914,2018-05-04,2018-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2.0,0.0,72.9480,170.2120,48.63200

### Let's check wheter or not we have empty cells/records in our dataset.

The following code would imply these instructions

- *df_orders* = is the name of the variable, that will be using throughout the example of this tutorial.
- *.info()* = is the method to print the coloumns data type and cells number in the dataset.

In [7]:
# Let's print the columns data types, along with the NaN records in the dataset and the number of cells in them.
df_cleaning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10800 entries, 0 to 10799
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   RowID         10800 non-null  object
 1   OrderID       10800 non-null  object
 2   OrderDate     9994 non-null   object
 3   ShipDate      9994 non-null   object
 4   ShipMode      9994 non-null   object
 5   CustomerID    9994 non-null   object
 6   CustomerName  9994 non-null   object
 7   Segment       9994 non-null   object
 8   Country       9994 non-null   object
 9   City          9994 non-null   object
 10  State         9994 non-null   object
 11  PostalCode    9983 non-null   float64
 12  Region        9994 non-null   object
 13  ProductID     9994 non-null   object
 14  Category      9994 non-null   object
 15  SubCategory   9994 non-null   object
 16  ProductName   9994 non-null   object
 17  Sales         9994 non-null   float64
 18  Quantity      9994 non-null   float64
 19  Discount      9994 non-null   float64
 20  Profit        9994 non-null   float64
dtypes: float64(5), object(16)
memory usage: 1.7+ MB

- RangeIndex: **10.800** entries, from 0 to 10799.
- Data columns (**total 21 columns**):

Range index would give us information on how many rows on the dataset, while for the data column would give us information on how many columns available. For the **Non-Null Count number** would give us the Valid records number. So to identify the missing records/cell, would be to subtract the RangeIndex entries, with the remaining of the records available.

And also, as you can see from the previous list, we need to change the following column data types, from:

- OrderDate : *Object*
- ShipDate : *Object*
- PostalCode : *Object*

to

- OrderDate : *DateTime*
- ShipDate : *DateTime*
- PostalCode : *Object*

Since those column don't have an appropriate data types definition yet. That's why we need to change them, so we could manipulate them better on the next session.

The following code would imply these instructions
- *df_orders* = is the name of the variable, that will be using throughout the example of this tutorial.
- *.astype()* = is the method to display the data types from the dataset available.

### Let's try to check, if the current dataset has any potential invalid data in them?

The following code would imply these instructions

- *df_cleaning* = is the name of the variable, that will be using throughout the example of this tutorial.
- *.isnull()* = is the method name, to check if not we have any invalids values in the dataset.
- Note = this method would result in *True* or *False* output.

In [8]:
df_cleaning.isnull()

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,State,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10798,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
10799,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

### Let's Clean-up the Invalid Records in The Dataset

So that we know from the above table, we have rows of invalid values within our tables (indicated by the '*True*' values, and we wish to do further analysis in them, it'd be best to remove them so we could get finer overview with the remaining of the table values.

The following code would imply these instructions:

- *df_cleaning* = is the name of the variable, that will be using throughout the example of this tutorial.
- *.dropna()* = is the method name, to remove the invalid records within our dataset.
- *['OrderDate]* = is the coloumn that we wish to check the invalid values from.
- *inplace=True* = since we'd like to have them in a new dataset, we need to pass the value set to '*True*', that way it'd reflect on the new dataset. Otherwise if we pass the value of '*False*', it only stays on the **memory storage**.

In [9]:
# Okay, let's try to drop missing or invalied values.
# df_cleaning.dropna(subset=['OrderDate'], inplace=True)
df_cleaning.dropna(inplace=True)

In [10]:
df_cleaning

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,State,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,41.9136
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.5820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,9993,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.60,4.0,0.0,13.3200
9993,9994,CA-2018-119914,2018-05-04,2018-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.16,2.0,0.0,72.9480

In [11]:
# Now let's do a quick check with the recent dataset, if everything marks with 'False', then everything is clear!
df_cleaning.isnull()

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,State,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9993,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

# Making changes to data!
## Let's Add Additional Column Information

In [12]:
df_cleaning

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,State,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,41.9136
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.5820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,9993,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.60,4.0,0.0,13.3200
9993,9994,CA-2018-119914,2018-05-04,2018-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.16,2.0,0.0,72.9480

In [13]:
# Let's try to create the Revenue Column!
df_cleaning['Revenue'] = df_cleaning['Sales'] - df_cleaning['Profit']

In [14]:
df_cleaning.head(3)

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,...,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit,Revenue
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,41.9136,220.0464
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.5820,512.3580
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2.0,0.0,6.8714,7.7486

In [15]:
# Let's try to create the (Gross) Price Column!
df_cleaning['GrossPrice'] = (df_cleaning['Revenue'] - df_cleaning['Profit']) / df_cleaning['Quantity']

In [16]:
df_cleaning.head(3)

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,...,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit,Revenue,GrossPrice
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,41.9136,220.0464,89.0664
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.5820,512.3580,97.5920
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2.0,0.0,6.8714,7.7486,0.4386

In [17]:
# Let's try to create the (Net)Price Column!
df_cleaning['NetPrice'] = df_cleaning['GrossPrice'] - (df_cleaning['GrossPrice'] * df_cleaning['Discount'])

In [18]:
df_cleaning.head(3)

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,...,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit,Revenue,GrossPrice,NetPrice
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,41.9136,220.0464,89.0664,89.0664
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.5820,512.3580,97.5920,97.5920
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2.0,0.0,6.8714,7.7486,0.4386,0.4386

In [19]:
df_cleaning.tail(3)

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,...,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit,Revenue,GrossPrice,NetPrice
9991,9992,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,Technology,Phones,Aastra 57i VoIP phone,258.576,2.0,0.2,19.3932,239.1828,109.8948,87.91584
9992,9993,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4.0,0.0,13.3200,16.2800,0.7400,0.74000
9993,9994,CA-2018-119914,2018-05-04,2018-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2.0,0.0,72.9480,170.2120,48.6320,48.63200

In [20]:
# drop the coloumn, 'GrossPrice' & 'Price'!
df_cleaning = df_cleaning.drop(columns=['GrossPrice'])

In [21]:
df_cleaning

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,...,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit,Revenue,NetPrice
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,41.9136,220.0464,89.0664
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.5820,512.3580,97.5920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,9993,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.60,4.0,0.0,13.3200,16.2800,0.7400
9993,9994,CA-2018-119914,2018-05-04,2018-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.16,2.0,0.0,72.9480,170.2120,48.6320

## Exporting Dataset

Once that we've satisfied with out results, let's export them a new CSV dataset, so we could work with them on the next notebook.

*- df_cleaning* = is the name of the variable, that will be using throughout the example of this tutorial.
*- .to_csv* = is the export method to a CSV dataset.

### From let's import them from previous superstore.csv to df_orders.csv

In [22]:
df_cleaning.to_csv('df_cleaning.csv', index = False)