# 03 - Data Grouping (Sample Super Store)
Given the second part of this Jupyter notebook tutorial, we will try to clean-up the data from invalid values and try to recreate from the previous orginal dataset to something more valueable and informative to our business needs.

In [1]:
# Importing packages
import pandas as pd
import numpy as np

### Let's try to read the CSV record 
The following code would imply these instructions
- df_orders = is the name of the variable, that will be using throughout the example of this tutorial.
- pd = stands for Panda
- .read_csv = is a method within to read the CSV file.

In [2]:
df_cleaning = pd.read_csv('df_cleaning.csv')

In [3]:
# Set the total rows and columns default numbers.
pd.set_option('display.max_columns', 23)
pd.set_option('display.max_rows', 5)

In [4]:
df_cleaning.head(3)

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,State,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit,Revenue,NetPrice
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,41.9136,220.0464,89.0664
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.5820,512.3580,97.5920
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2.0,0.0,6.8714,7.7486,0.4386

In [5]:
# Let's print the columns (features) names.
df_cleaning.columns

Index(['RowID', 'OrderID', 'OrderDate', 'ShipDate', 'ShipMode', 'CustomerID',
       'CustomerName', 'Segment', 'Country', 'City', 'State', 'PostalCode',
       'Region', 'ProductID', 'Category', 'SubCategory', 'ProductName',
       'Sales', 'Quantity', 'Discount', 'Profit', 'Revenue', 'NetPrice'],
      dtype='object')

In [6]:
# Let's print the columns data types.
df_cleaning.dtypes

RowID         int64
OrderID      object
             ...
Revenue     float64
NetPrice    float64
Length: 23, dtype: object

## Grouping Coloumn
### So let's try to do some data grouping based on column

- *df_cleaning[['Sales', 'Quantity']] = This command would get the column *'Sales'* & *'Quantity'*
- .groupby(['Sales'],  as_index=False) = And group them by the Sales column, but don't use any Index, as it indicate by the 'False'
- .*mean()*  =  get the mean value from each row.
- .sort_values(by='Quantity', ascending=True)* =  and sort them by quantity value, ascending.

In [7]:
df_cleaning[['Sales','Quantity','Profit']].groupby(['Profit'],as_index=True).sum().sort_values(by='Quantity',ascending=True)

             Sales  Quantity
Profit
1.8872      13.480       1.0
4.4610      29.740       1.0
...            ...       ...
15.5520    842.400     130.0
0.0000   27686.847     255.0

[7279 rows x 2 columns]

In [8]:
# Create a parameter so that we can save them to a CSV format.

df_cleaning_groupby_salesQuantityProfit = df_cleaning[['Sales','Quantity','Profit']].groupby(['Profit'],as_index=True).sum().sort_values(by='Quantity',ascending=True)

In [9]:
# Create a parameter so that we can save them to a CSV format.

df_cleaning_groupby_salesQuantityProfit.to_csv('df_cleaning_groupby_salesQuantityProfit.csv', index = False)

In [10]:
# Let's try to call them with the parameter name instead.

df_cleaning_groupby_salesQuantityProfit

             Sales  Quantity
Profit
1.8872      13.480       1.0
4.4610      29.740       1.0
...            ...       ...
15.5520    842.400     130.0
0.0000   27686.847     255.0

[7279 rows x 2 columns]

### So let's try to do some data grouping based on column

- *df_cleaning[['Sales', 'Discount']] = This command would get the column *'Sales'* & *'Discount'*
- .groupby(['Sales'],  as_index=True) = And group them by the Sales column, but don't use any Index, as indicate by the 'True' parameter
- .*sum()*  =  get the mean value from each row.
- .sort_values(by='Discount', ascending=False)* =  and sort them by quantity value, descending.

In [11]:
df_cleaning[['Sales', 'Discount']].groupby(['Sales'], as_index=True).sum().sort_values(by='Discount', ascending=False)

        Discount
Sales
15.552       7.8
10.368       7.2
...          ...
8.750        0.0
83.420       0.0

[5818 rows x 1 columns]

In [12]:
df_cleaning_groupby_salesDiscount = df_cleaning[['Sales', 'Discount']].groupby(['Sales'], as_index=False).mean().sort_values(by='Discount', ascending=False)

In [13]:
df_cleaning_groupby_salesDiscount

       Sales  Discount
42     1.788       0.8
0      0.444       0.8
...      ...       ...
1802  33.870       0.0
2909  83.420       0.0

[5818 rows x 2 columns]

In [20]:
df_cleaning.head(3)

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,State,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit,Revenue,NetPrice
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,41.9136,220.0464,89.0664
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.5820,512.3580,97.5920
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2.0,0.0,6.8714,7.7486,0.4386

### For the most part, most the groupby method, inspired from the following:
https://realpython.com/pandas-groupby/

In [57]:
n_by_category = df_cleaning.groupby("Category")["SubCategory"].count()
n_by_category.head(10)

Category
Furniture          2119
Office Supplies    6020
Technology         1844
Name: SubCategory, dtype: int64

You call  `.groupby()`  and pass the name of the column you want to group on, which is  `"Category"`. Then, you use  `["SubCategory"]`  to specify the columns on which you want to perform the actual aggregation.

You can pass a lot more than just a single column name to  `.groupby()`  as the first argument. You can also specify any of the following:

-   A  [`list`](https://realpython.com/python-lists-tuples/)  of multiple column names
-   A  [`dict`](https://realpython.com/python-dicts/)  or Pandas  `Series`
-   A  [NumPy array](https://realpython.com/numpy-array-programming/)  or Pandas  `Index`, or an array-like iterable of these

Here’s an example of grouping jointly on two columns, which finds the count of Congressional members broken out by state and then by gender:

In [59]:
n_by_category_subcategory = df_cleaning.groupby(["Category", "SubCategory"])["Region"].count()

In [61]:
type(n_by_category_subcategory)

pandas.core.series.Series

In [63]:
n_by_category_subcategory.index[:5]

MultiIndex([(      'Furniture',   'Bookcases'),
            (      'Furniture',      'Chairs'),
            (      'Furniture', 'Furnishings'),
            (      'Furniture',      'Tables'),
            ('Office Supplies',  'Appliances')],
           names=['Category', 'SubCategory'])

In [64]:
n_by_category_subcategory.head(10)

Category         SubCategory
Furniture        Bookcases      227
                 Chairs         616
                               ...
Office Supplies  Fasteners      217
                 Labels         364
Name: Region, Length: 10, dtype: int64

In [65]:
df_cleaning.groupby(["Category", "SubCategory"], as_index=False)["ProductName"].count()

      Category SubCategory  ProductName
0    Furniture   Bookcases          227
1    Furniture      Chairs          616
..         ...         ...          ...
15  Technology    Machines          115
16  Technology      Phones          888

[17 rows x 3 columns]

In [27]:
df_cleaning.groupby(["Category", "SubCategory"], as_index=False)["Quantity"].count()

      Category SubCategory  Quantity
0    Furniture   Bookcases       227
1    Furniture      Chairs       616
..         ...         ...       ...
15  Technology    Machines       115
16  Technology      Phones       888

[17 rows x 3 columns]

In [29]:
df_cleaning.groupby(["Category", "SubCategory"], as_index=False)["Quantity"].count()

      Category SubCategory  Quantity
0    Furniture   Bookcases       227
1    Furniture      Chairs       616
..         ...         ...       ...
15  Technology    Machines       115
16  Technology      Phones       888

[17 rows x 3 columns]

In [28]:
df_cleaning.groupby("Category", sort=False)["SubCategory"].count()

Category
Furniture          2119
Office Supplies    6020
Technology         1844
Name: SubCategory, dtype: int64

In [31]:
by_category = df_cleaning.groupby("Category")
print(by_category)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x11e72d3d0>

In [33]:
for Category, frame in by_category:
    print(f"First 2 entries for {Category!r}")
    print("------------------------")
    print(frame.head(2), end="\n\n")

First 2 entries for 'Furniture'
------------------------
   RowID         OrderID   OrderDate    ShipDate      ShipMode CustomerID  \
0      1  CA-2017-152156  2017-11-08  2017-11-11  Second Class   CG-12520
1      2  CA-2017-152156  2017-11-08  2017-11-11  Second Class   CG-12520

  CustomerName   Segment        Country       City     State  PostalCode  \
0  Claire Gute  Consumer  United States  Henderson  Kentucky     42420.0
1  Claire Gute  Consumer  United States  Henderson  Kentucky     42420.0

  Region        ProductID   Category SubCategory  \
0  South  FUR-BO-10001798  Furniture   Bookcases
1  South  FUR-CH-10000454  Furniture      Chairs

                                         ProductName   Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.96       2.0
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.94       3.0

   Discount    Profit   Revenue  NetPrice
0       0.0   41.9136  220.0464   89.0664
1       0.0  219.5820  512.3580   97.5920

First 2 entries for 'Office Supplies'
------------------------
   RowID         OrderID   OrderDate    ShipDate        ShipMode CustomerID  \
2      3  CA-2017-138688  2017-06-12  2017-06-16    Second Class   DV-13045
4      5  US-2016-108966  2016-10-11  2016-10-18  Standard Class   SO-20335

      CustomerName    Segment        Country             City       State  \
2  Darrin Van Huff  Corporate  United States      Los Angeles  California
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida

   PostalCode Region        ProductID         Category SubCategory  \
2     90036.0   West  OFF-LA-10000240  Office Supplies      Labels
4     33311.0  South  OFF-ST-10000760  Office Supplies     Storage

                                         ProductName   Sales  Quantity  \
2  Self-Adhesive Address Labels for Typewriters b...  14.620       2.0
4                     Eldon Fold 'N Roll Cart System  22.368       2.0

   Discount  Profit  Revenue  NetPrice
2       0.0  6.8714   7.7486   0.43860
4       0.2  2.5164  19.8516   6.93408

First 2 entries for 'Technology'
------------------------
    RowID         OrderID   OrderDate    ShipDate        ShipMode CustomerID  \
7       8  CA-2015-115812  2015-06-09  2015-06-14  Standard Class   BH-11710
11     12  CA-2015-115812  2015-06-09  2015-06-14  Standard Class   BH-11710

       CustomerName   Segment        Country         City       State  \
7   Brosina Hoffman  Consumer  United States  Los Angeles  California
11  Brosina Hoffman  Consumer  United States  Los Angeles  California

    PostalCode Region        ProductID    Category SubCategory  \
7      90032.0   West  TEC-PH-10002275  Technology      Phones
11     90032.0   West  TEC-PH-10002033  Technology      Phones

                                      ProductName    Sales  Quantity  \
7                  Mitel 5320 IP Phone VoIP phone  907.152       6.0
11  Konftel 250 Conference phone - Charcoal black  911.424       4.0

    Discount   Profit   Revenue   NetPrice
7        0.2  90.7152  816.4368   96.76288
11       0.2  68.3568  843.0672  154.94208

If you’re working on a challenging aggregation problem, then iterating over the Pandas GroupBy object can be a great way to visualize the  **split**  part of split-apply-combine.

There are a few other methods and properties that let you look into the individual groups and their splits. The  `.groups`  attribute will give you a dictionary of  `{group name: group label}`  pairs. For example,  `by_state`  is a  `dict`  with states as keys. Here’s the value for the  `"PA"`  key:

In [40]:
by_category.groups["Technology"]

Int64Index([   7,   11,   19,   26,   35,   40,   41,   44,   47,   48,
            ...
            9938, 9939, 9949, 9962, 9965, 9972, 9975, 9976, 9977, 9980],
           dtype='int64', length=1844)

In [49]:
# by_category.get_group(["Phones"])
# .get_group method is not working? don't know why?

In [51]:
Category, frame = next(iter(by_category))  # First tuple from iterator
Category

frame.head(30)

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,State,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit,Revenue,NetPrice
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.960,2.0,0.0,41.9136,220.0464,89.06640
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940,3.0,0.0,219.5820,512.3580,97.59200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,125,US-2015-152030,2015-12-26,2015-12-28,Second Class,AD-10180,Alan Dominguez,Home Office,United States,Houston,Texas,77041.0,Central,FUR-CH-10004063,Furniture,Chairs,Global Deluxe High-Back Manager's Chair,600.558,3.0,0.3,-8.5794,609.1374,144.13392
125,126,US-2015-134614,2015-09-20,2015-09-25,Standard Class,PF-19165,Philip Fox,Consumer,United States,Bloomington,Illinois,61701.0,Central,FUR-TA-10004534,Furniture,Tables,Bevis 44 x 96 Conference Tables,617.700,6.0,0.5,-407.6820,1025.3820,119.42200

In [55]:
# by_category("Category")["SubCategory"].count()

In [54]:
frame["SubCategory"].count()  # Count for state == 'AK'

2119